/* ö */
#a587_modi legend,#a587_index legend,#a587_highlight legend,#a587_exclude legend,#a587_include legend,#a587_files legend {
padding-left:30px;
background:no-repeat 5px center transparent;
}

#a587_modi legend {
background-image:url(settings_modi.png);
}

#a587_index legend {
background-image:url(settings_index.png);
}

#a587_highlight legend {
background-image:url(settings_highlight.png);
}

#a587_exclude legend {
background-image:url(settings_exclude.png);
}

#a587_include legend {
background-image:url(settings_include.png);
}

#a587_files legend {
background-image:url(settings_files.png);
position:relative;
}

#a587_files .loading {
background:url(loading_lightblue.gif) no-repeat center transparent;
padding:6px 20px;
}

#rexsearch_generate_log {
max-height:450px;
overflow:auto;
}

#rexsearch_generate_progressbar {
border:1px solid #000;
border-bottom:none;
padding:0 10px;
background:url(progressbar.gif) no-repeat -5000px 0 #000;
color:#fff;
font-weight:900;
position:relative;
height:2em;
line-height:2em;
}

#rexsearch_generate_progressbar .percentage {
position:absolute;
top:0;
right:10px;
height:2em;
line-height:2em;
}

#rexsearch_generate_progressbar .duration {
position:absolute;
top:0;
left:25%;
height:2em;
line-height:2em;
}

#rexsearch_generate_progressbar .timeleft {
position:absolute;
top:0;
right:25%;
height:2em;
line-height:2em;
}

.a587_formlink a {
display:block;
padding:3px 5px;
}

#a587_settings_folders {
color:#14568A;
background:#fff;
font-weight:900;
}

#a587_settings_folders options {
color:#fff;
background:#000;
}

#a587_optiondummy {
display:none;
}

.subdirselect,.subdirselectlabel {
margin-top:1em;
}

#subdirs_0,#subdirs_1,#subdirs_2,#subdirs_3,#subdirs_4,#subdirs_5,#subdirs_6,#subdirs_7,#subdirs_8,#subdirs_9,#subdirs_10,#subdirs_11,#subdirs_12,#subdirs_13,#subdirs_14,#subdirs_15,#subdirs_16,#subdirs_17,#subdirs_18,#subdirs_19,#subdirs_20,#subdirs_21,#subdirs_22,#subdirs_23,#subdirs_24,#subdirs_25,#subdirs_26,#subdirs_27,#subdirs_28,#subdirs_29,#subdirs_30 {
background:no-repeat center transparent;
}

#subdirs_0 { background-image:url(0.png); }
#subdirs_1 { background-image:url(1.png); }
#subdirs_2 { background-image:url(2.png); }
#subdirs_3 { background-image:url(3.png); }
#subdirs_4 { background-image:url(4.png); }
#subdirs_5 { background-image:url(5.png); }
#subdirs_6 { background-image:url(6.png); }
#subdirs_7 { background-image:url(7.png); }
#subdirs_8 { background-image:url(8.png); }
#subdirs_9 { background-image:url(9.png); }
#subdirs_10 { background-image:url(10.png); }
#subdirs_11 { background-image:url(11.png); }
#subdirs_12 { background-image:url(12.png); }
#subdirs_13 { background-image:url(13.png); }
#subdirs_14 { background-image:url(14.png); }
#subdirs_15 { background-image:url(15.png); }
#subdirs_16 { background-image:url(16.png); }
#subdirs_17 { background-image:url(17.png); }
#subdirs_18 { background-image:url(18.png); }
#subdirs_19 { background-image:url(19.png); }
#subdirs_20 { background-image:url(20.png); }
#subdirs_21 { background-image:url(21.png); }
#subdirs_22 { background-image:url(22.png); }
#subdirs_23 { background-image:url(23.png); }
#subdirs_24 { background-image:url(24.png); }
#subdirs_25 { background-image:url(25.png); }
#subdirs_26 { background-image:url(26.png); }
#subdirs_27 { background-image:url(27.png); }
#subdirs_28 { background-image:url(28.png); }
#subdirs_29 { background-image:url(29.png); }
#subdirs_30 { background-image:url(30.png); }